.cardItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  border-right: solid 1px #ccc;
  padding: 1rem;
}

.cardItem:last-child {
  border: none;
}

.cardItem h3 {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #999;
}

.cardItem p {
  font-size: 1.5rem;
  font-weight: 500;
}
