.card {
  display: flex;
  gap: 0.5rem;
  background-color: #fff;
  justify-content: space-between;
  padding: 2rem;
  position: absolute;
  bottom: -50px;
  /* transform: translateY(100%); */
  border-radius: 10px;
  color: #000;
  width: 80%;
  z-index: 10;
}
